<form [formGroup] = userForm (ngSubmit) = "onSubmit(userForm.value)">
  <div>
  <label>
    <span> Firstname</span>
    <input
      type="text" placeholder="Your full name" formControlName="firstName">
  </label>
  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
    <div *ngIf="f.firstName.errors.required">First Name is required</div>
</div>
  </div>
<br>
<div>
  <label>
    <span> Lastname</span>
    <input
      type="text"
      placeholder="Your Last name"
      formControlName="lastName">
  </label>
</div>
  <br>
  <div>
  <label>
    <span> Email</span>
    <input
      type="email"
      placeholder="Your Email"
      formControlName="email">
  </label>
  </div>
  <br>
  <div>
  <label>
    <span> Password</span>
    <input
      type="password"
      placeholder="Your password"
      formControlName="password">
  </label>
</div>
<button type="submit">Sign up</button>
<button  (click) ="loadApiData()">load</button>
</form>
