<!-- <h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

</div> -->
<!-- <app-header #header></app-header>
<div>
<button (click)="passValue()">clicktoupdateValue</button></div>
<app-page1 #page1 [hidden]="header.pageNumber!==1"></app-page1>
<app-page2 [page2property]="fromParent"[hidden]="header.pageNumber!==2"></app-page2> -->
<app-tutorial></app-tutorial>
<app-registrationform></app-registrationform>
